<a class="brand" href="#" name="top"><h4>BizCentrik</h4></a>
<div class="span12 offset1 well">
<h1>LookUpData DETAILS</h1>

<%= render 'form' %>

<%= link_to 'Show', @user_step2 %> |
<%= link_to 'Back', user_step2s_path %>
